In [36]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import gmaps
#from config import gkey

In [37]:
# load CSVs for data from 2008-2012
crime0812 = pd.read_csv("Source CSVs/Crime2008-2012.csv")
crime0812 = crime0812.loc[:, ~crime0812.columns.str.contains('^Unnamed')]

In [38]:
#Dropped colums in dataframe
crime_data0812 = crime0812.drop(columns =['Description', 'Day', 'Time', 'District',])
crime_data0812.head()

   Incident ID         Category   Longitude   Latitude  Year
0    130007344    LARCENY/THEFT -122.413446  37.764637  2012
1    121053661  STOLEN PROPERTY -122.403208  37.790808  2012
2    121053661      WEAPON LAWS -122.403208  37.790808  2012
3    121053661   OTHER OFFENSES -122.403208  37.790808  2012
4    136000180    LARCENY/THEFT -122.420307  37.788699  2012

In [39]:
#Group by category
crimeyears0812_group = crime_data0812.groupby('Category')
# Count how many times each year appears in our group
crime_data0812_count = crimeyears0812_group['Category'].count()
crime_data0812_count

Category
ARSON                            1119
ASSAULT                         61812
BAD CHECKS                        290
BRIBERY                           267
BURGLARY                        27254
DISORDERLY CONDUCT               4038
DRIVING UNDER THE INFLUENCE      2336
DRUG/NARCOTIC                   46182
DRUNKENNESS                      3516
EMBEZZLEMENT                      948
EXTORTION                         281
FAMILY OFFENSES                   385
FORGERY/COUNTERFEITING           7576
FRAUD                           13183
GAMBLING                          100
KIDNAPPING                       1881
LARCENY/THEFT                  132719
LIQUOR LAWS                      1704
LOITERING                        1013
MISSING PERSON                  21635
NON-CRIMINAL                    71097
OTHER OFFENSES                 107338
PORNOGRAPHY/OBSCENE MAT            14
PROSTITUTION                     6224
RECOVERED VEHICLE                3513
ROBBERY                         18462
RUNAWAY                          1541
SECONDARY CODES                  8912
SEX OFFENSES, FORCIBLE           3623
SEX OFFENSES, NON FORCIBLE        124
STOLEN PROPERTY                  3575
SUICIDE                           427
SUSPICIOUS OCC                  27449
TREA                                4
TRESPASS                         5893
VANDALISM                       37931
VEHICLE THEFT                   26527
WARRANTS                        30360
WEAPON LAWS                      6985
Name: Category, dtype: int64

In [54]:
crime_df0812 = pd.DataFrame(crime_data0812_count)
crime_df0812 = crime_df0812.rename(columns= {"Category": "Crime Count"})
crime_df0812 = crime_df0812.reset_index()

In [55]:
# violent non violent and property

l = []
data = {}
categories = list(crime_df0812["Category"])
crime_count = list(crime_df0812["Crime Count"])

for index in range(len(categories)):
    # violent crimes
    if(categories[index] == "ARSON" 
       or categories[index] == "RUNAWAY" 
       or categories[index] == "ASSAULT" 
       or categories[index] == "FAMILY OFFENSES"
       or categories[index] == "SEX OFFENSES, FORCIBLE" 
       or categories[index] == 'SUICIDE'
       or categories[index] == 'WEAPON LAWS'
       or categories[index] =="ROBBERY"):
        data = { "Category" : categories[index], "Crime Count" : crime_count[index], "Crime Category": "Violent Crime" }
    #Nonviolent crimes
    elif(categories[index] == "BAD CHECKS" 
         or categories[index] == "RUNAWAY"
         or categories[index] =='BRIBERY'
         or categories[index] =='DISORDERLY CONDUCT'
         or categories[index] == 'DRIVING UNDER THE INFLUENCE'
         or categories[index] == 'DRUG/NARCOTIC'
         or categories[index] == 'DRUNKENNESS'
         or categories[index] =='EMBEZZLEMENT'
         or categories[index] =='EXTORTION'
         or categories[index] =='FORGERY/COUNTERFEITING'
         or categories[index] =='FRAUD'
         or categories[index] =='GAMBLING'
         or categories[index] =='KIDNAPPING'
         or categories[index] =='LIQUOR LAWS'
         or categories[index] =='LOITERING'
         or categories[index] =='MISSING PERSON'
         or categories[index] =='NON-CRIMINAL'
         or categories[index] =='OTHER OFFENSES'
         or categories[index] =='PORNOGRAPHY/OBSCENE MAT'
         or categories[index] =='PROSTITUTION'
         or categories[index] =='RECOVERED VEHICLE'
         or categories[index] =='SECONDARY CODES'
         or categories[index] =='SEX OFFENSES, NON FORCIBLE'
         or categories[index] =='SUSPICIOUS OCC'
         or categories[index] =='TRESPASS'
         or categories[index] =='VANDALISM'
         or categories[index] =='WARRANTS'):
         data = { "Category" : categories[index], "Crime Count" : crime_count[index], "Crime Category": "Non Violent Crime" }
    #Property Theift
    elif(categories[index] =="BURGLARY" 
         or categories[index] =='LARCENY/THEFT'
         or categories[index] =='STOLEN PROPERTY'
         or categories[index] =='VEHICLE THEFT'):
         data = { "Category" : categories[index], "Crime Count" : crime_count[index], "Crime Category": "Property Theft" }
    else:
        data = { "Category" : categories[index], "Crime Count" : crime_count[index], "Crime Category": None }
        
    l.append(data) 

print(pd.DataFrame(l))

                       Category  Crime Count     Crime Category
0                         ARSON         1119      Violent Crime
1                       ASSAULT        61812      Violent Crime
2                    BAD CHECKS          290  Non Violent Crime
3                       BRIBERY          267  Non Violent Crime
4                      BURGLARY        27254     Property Theft
5            DISORDERLY CONDUCT         4038  Non Violent Crime
6   DRIVING UNDER THE INFLUENCE         2336  Non Violent Crime
7                 DRUG/NARCOTIC        46182  Non Violent Crime
8                   DRUNKENNESS         3516  Non Violent Crime
9                  EMBEZZLEMENT          948  Non Violent Crime
10                    EXTORTION          281  Non Violent Crime
11              FAMILY OFFENSES          385      Violent Crime
12       FORGERY/COUNTERFEITING         7576  Non Violent Crime
13                        FRAUD        13183  Non Violent Crime
14                     GAMBLING          100  Non Violent Crime
15                   KIDNAPPING         1881  Non Violent Crime
16                LARCENY/THEFT       132719     Property Theft
17                  LIQUOR LAWS         1704  Non Violent Crime
18                    LOITERING         1013  Non Violent Crime
19               MISSING PERSON        21635  Non Violent Crime
20                 NON-CRIMINAL        71097  Non Violent Crime
21               OTHER OFFENSES       107338  Non Violent Crime
22      PORNOGRAPHY/OBSCENE MAT           14  Non Violent Crime
23                 PROSTITUTION         6224  Non Violent Crime
24            RECOVERED VEHICLE         3513  Non Violent Crime
25                      ROBBERY        18462      Violent Crime
26                      RUNAWAY         1541      Violent Crime
27              SECONDARY CODES         8912  Non Violent Crime
28       SEX OFFENSES, FORCIBLE         3623      Violent Crime
29   SEX OFFENSES, NON FORCIBLE          124  Non Violent Crime
30              STOLEN PROPERTY         3575     Property Theft
31                      SUICIDE          427      Violent Crime
32               SUSPICIOUS OCC        27449  Non Violent Crime
33                         TREA            4               None
34                     TRESPASS         5893  Non Violent Crime
35                    VANDALISM        37931  Non Violent Crime
36                VEHICLE THEFT        26527     Property Theft
37                     WARRANTS        30360  Non Violent Crime
38                  WEAPON LAWS         6985      Violent Crime

In [19]:
# load CSVs for data from 2008-2012
trees_data0812 = pd.read_csv("Source CSVs/SF_Trees2007-2012.csv")
trees_data0812.head()

,Unnamed: 0,Unnamed: 0.1,Tree ID,Species,Latitude,Longitude,Year
0,2,14,102172,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.761558,-122.440979,2012
1,3,15,102171,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.761558,-122.440979,2012
2,5,21,82730,Tristaniopsis laurina :: Swamp Myrtle,37.747306,-122.405202,2008
3,28,117,82709,Casurina stricta :: Beefwood: Drooping She-Oak,37.715135,-122.388564,2009
4,83,328,103814,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.787290,-122.419810,2009

In [46]:
trees_data0812 = trees_data0812.loc[:, ~trees_data0812.columns.str.contains('^Unnamed')]
trees_data0812.head()

,Tree ID,Species,Latitude,Longitude,Year
0,102172,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.761558,-122.440979,2012
1,102171,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.761558,-122.440979,2012
2,82730,Tristaniopsis laurina :: Swamp Myrtle,37.747306,-122.405202,2008
3,82709,Casurina stricta :: Beefwood: Drooping She-Oak,37.715135,-122.388564,2009
4,103814,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.787290,-122.419810,2009

In [48]:
#Collect value of species 
trees_data0812_group = trees_data0812.groupby('Species')
trees_data0812_count = trees_data0812_group['Species'].count()
trees_data0812_count

Species
::                                                   20
Acacia baileyana 'Purpurea' :: Purple-leaf Acacia     5
Acacia baileyana :: Bailey's Acacia                  14
Acacia cognata :: River Wattle                        1
Acacia decurrens :: Acacia: Silver Wattle             1
                                                     ..
Ulmus pumila :: Siberian Elm                          4
Washingtonia filifera :: California Fan Palm          2
Washingtonia robusta :: Mexican Fan Palm             15
Yucca elephantipes :: Giant Yucca                     6
Yucca gloriosa :: Spanish Dagger                     28
Name: Species, Length: 264, dtype: int64

In [58]:
#Drop "::" from Index list
#is_2002 =  gapminder['year']==2002
trees0812s = trees_data0812[trees_data0812["Species"] !="::"]
trees0812s

,Tree ID,Species,Latitude,Longitude,Year
0,102172,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.761558,-122.440979,2012
1,102171,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.761558,-122.440979,2012
2,82730,Tristaniopsis laurina :: Swamp Myrtle,37.747306,-122.405202,2008
3,82709,Casurina stricta :: Beefwood: Drooping She-Oak,37.715135,-122.388564,2009
4,103814,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.787290,-122.419810,2009
5,103815,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.787304,-122.419711,2009
6,10245,Pyrus calleryana :: Ornamental Pear,37.772882,-122.423805,2008
7,103788,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.788328,-122.419385,2009
8,103790,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.788328,-122.419385,2009
9,103789,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.788328,-122.419385,2009
10,3912,Arbutus 'Marina' :: Hybrid Strawberry Tree,37.767385,-122.435543,2010
11,3923,Lophostemon confertus :: Brisbane Box,37.767385,-122.435543,2011
12,3915,Magnolia sargentiana 'Robusta' :: Robusta Magn...,37.767385,-122.435543,2010
13,82306,Arbutus 'Marina' :: Hybrid Strawberry Tree,37.767385,-122.435540,2010
14,3910,Arbutus 'Marina' :: Hybrid Strawberry Tree,37.767385,-122.435543,2010
15,3911,Arbutus 'Marina' :: Hybrid Strawberry Tree,37.767385,-122.435543,2010
16,3914,Arbutus 'Marina' :: Hybrid Strawberry Tree,37.767385,-122.435543,2010
17,3925,Magnolia sargentiana 'Robusta' :: Robusta Magn...,37.767385,-122.435543,2010
18,95092,Lophostemon confertus :: Brisbane Box,37.777520,-122.413138,2010
19,68112,Crataegus phaenopyrum :: Washington Hawthorn,37.745151,-122.414088,2011
20,134567,Platanus x hispanica :: Sycamore: London Plane,37.778466,-122.417400,2011
21,134568,Platanus x hispanica :: Sycamore: London Plane,37.778521,-122.417028,2009
22,135979,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.788228,-122.419940,2009
23,135978,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.788213,-122.420020,2009
24,87710,Arbutus 'Marina' :: Hybrid Strawberry Tree,37.719693,-122.472271,2008
25,24457,Arbutus 'Marina' :: Hybrid Strawberry Tree,37.719693,-122.472254,2008
26,87707,Arbutus 'Marina' :: Hybrid Strawberry Tree,37.719693,-122.472271,2008
27,87709,Arbutus 'Marina' :: Hybrid Strawberry Tree,37.719693,-122.472271,2008
28,87708,Arbutus 'Marina' :: Hybrid Strawberry Tree,37.719693,-122.472271,2008
29,11761,Arbutus 'Marina' :: Hybrid Strawberry Tree,37.719693,-122.472254,2008
...,...,...,...,...,...
9570,47252,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.718267,-122.396635,2011
9571,91464,Agonis flexuosa :: Peppermint Willow,37.801383,-122.416391,2009
9572,91463,Agonis flexuosa :: Peppermint Willow,37.801378,-122.416441,2009
9573,91465,Agonis flexuosa :: Peppermint Willow,37.801389,-122.416339,2009
9574,91462,Agonis flexuosa :: Peppermint Willow,37.801372,-122.416492,2009
9575,90352,Eriobotrya deflexa :: Bronze Loquat,37.776893,-122.469791,2008
9576,23312,Lophostemon confertus :: Brisbane Box,37.784743,-122.421106,2010
9577,23311,Lophostemon confertus :: Brisbane Box,37.784743,-122.421106,2010
9578,7381,Ginkgo biloba :: Maidenhair Tree,37.778275,-122.406062,2012
9579,28292,Lophostemon confertus :: Brisbane Box,37.750317,-122.388117,2011
9580,2098,Arbutus 'Marina' :: Hybrid Strawberry Tree,37.734477,-122.438323,2008
9581,90162,Eriobotrya deflexa :: Bronze Loquat,37.777055,-122.469591,2008
9582,90161,Eriobotrya deflexa :: Bronze Loquat,37.777052,-122.469540,2008
9583,103824,Magnolia grandiflora :: Southern Magnolia,37.786183,-122.419710,2009
9584,103826,Syagrus romanzoffianum :: Queen Palm,37.786089,-122.419689,2009
9585,103823,Magnolia grandiflora :: Southern Magnolia,37.786225,-122.419724,2009
9586,103825,Magnolia grandiflora :: Southern Magnolia,37.786129,-122.419692,2009
9587,103827,Syagrus romanzoffianum :: Queen Palm,37.786056,-122.419682,2009
9588,13866,Platanus x hispanica :: Sycamore: London Plane,37.782286,-122.410370,2011
9589,58697,Platanus x hispanica :: Sycamore: London Plane,37.802243,-122.418125,2009
9590,91885,Pittosporum undulatum :: Victorian Box,37.763996,-122.468487,2008
9591,91884,Pittosporum undulatum :: Victorian Box,37.763996,-122.468487,2008
9592,91883,Pittosporum undulatum :: Victorian Box,37.763996,-122.468487,2008
9593,91886,Pittosporum undulatum :: Victorian Box,37.763996,-122.468487,2008
9594,94203,Laurus nobilis :: Sweet Bay: Grecian Laurel,37.798709,-122.415892,2010
9595,94202,Laurus nobilis :: Sweet Bay: Grecian Laurel,37.798730,-122.415603,2010
9596,87769,Tristaniopsis laurina :: Swamp Myrtle,37.735835,-122.439733,2008
9597,14676,Acer rubrum 'Red Sunset' :: Red Swamp Maple,37.779937,-122.425244,2011
9598,93932,Pinus Spp :: Pine Spp,37.720749,-122.475342,2010
9599,93931,Pinus Spp :: Pine Spp,37.720749,-122.475342,2010