In [8]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import gmaps
#from config import gkey

In [9]:
# load CSVs for data from 2008-2012
crime1317 = pd.read_csv("Source CSVs/Crime2013-2017.csv")
crime1317 = crime1317.loc[:, ~crime1317.columns.str.contains('^Unnamed')]

In [10]:
#Dropped colums in dataframe
crime_data1317 = crime1317.drop(columns =['Description', 'Day', 'Time', 'District',])
crime_data1317.head()

   Incident ID       Category   Longitude   Latitude  Year
0    180000417        ASSAULT -122.403405  37.775421  2017
1    180000069        ASSAULT -122.412999  37.786277  2017
2    180000069       BURGLARY -122.412999  37.786277  2017
3    180000069    WEAPON LAWS -122.412999  37.786277  2017
4    186005077  LARCENY/THEFT -122.421876  37.764089  2017

In [11]:
#Group by category
crimeyears1317_group = crime_data1317.groupby('Category')
# Count how many times each year appears in our group
crime_data1317_count = crimeyears1317_group['Category'].count()
crime_data1317_count

Category
ARSON                            1425
ASSAULT                         65355
BAD CHECKS                        156
BRIBERY                           332
BURGLARY                        29862
DISORDERLY CONDUCT               2418
DRIVING UNDER THE INFLUENCE      1936
DRUG/NARCOTIC                   23988
DRUNKENNESS                      2954
EMBEZZLEMENT                      859
EXTORTION                         224
FAMILY OFFENSES                   328
FORGERY/COUNTERFEITING           3560
FRAUD                           14078
GAMBLING                           93
KIDNAPPING                       1857
LARCENY/THEFT                  204757
LIQUOR LAWS                       807
LOITERING                         191
MISSING PERSON                  22708
NON-CRIMINAL                    94952
OTHER OFFENSES                  98607
PORNOGRAPHY/OBSCENE MAT            21
PROSTITUTION                     2684
RECOVERED VEHICLE                3130
ROBBERY                         18026
RUNAWAY                           972
SECONDARY CODES                  9809
SEX OFFENSES, FORCIBLE           4536
SEX OFFENSES, NON FORCIBLE        145
STOLEN PROPERTY                  4970
SUICIDE                           376
SUSPICIOUS OCC                  28328
TREA                               10
TRESPASS                         7083
VANDALISM                       40121
VEHICLE THEFT                   33446
WARRANTS                        31897
WEAPON LAWS                      8114
Name: Category, dtype: int64

In [12]:
crime_df1317 = pd.DataFrame(crime_data1317_count)
crime_df1317 = crime_df1317.rename(columns= {"Category": "Crime Count"})
crime_df1317 = crime_df1317.reset_index()
crime_df1317

                       Category  Crime Count
0                         ARSON         1425
1                       ASSAULT        65355
2                    BAD CHECKS          156
3                       BRIBERY          332
4                      BURGLARY        29862
5            DISORDERLY CONDUCT         2418
6   DRIVING UNDER THE INFLUENCE         1936
7                 DRUG/NARCOTIC        23988
8                   DRUNKENNESS         2954
9                  EMBEZZLEMENT          859
10                    EXTORTION          224
11              FAMILY OFFENSES          328
12       FORGERY/COUNTERFEITING         3560
13                        FRAUD        14078
14                     GAMBLING           93
15                   KIDNAPPING         1857
16                LARCENY/THEFT       204757
17                  LIQUOR LAWS          807
18                    LOITERING          191
19               MISSING PERSON        22708
20                 NON-CRIMINAL        94952
21               OTHER OFFENSES        98607
22      PORNOGRAPHY/OBSCENE MAT           21
23                 PROSTITUTION         2684
24            RECOVERED VEHICLE         3130
25                      ROBBERY        18026
26                      RUNAWAY          972
27              SECONDARY CODES         9809
28       SEX OFFENSES, FORCIBLE         4536
29   SEX OFFENSES, NON FORCIBLE          145
30              STOLEN PROPERTY         4970
31                      SUICIDE          376
32               SUSPICIOUS OCC        28328
33                         TREA           10
34                     TRESPASS         7083
35                    VANDALISM        40121
36                VEHICLE THEFT        33446
37                     WARRANTS        31897
38                  WEAPON LAWS         8114

In [13]:
# violent non violent and property

l = []
data = {}
categories = list(crime_df1317["Category"])
crime_count = list(crime_df1317["Crime Count"])

for index in range(len(categories)):
    # violent crimes
    if(categories[index] == "ARSON" 
       or categories[index] == "RUNAWAY" 
       or categories[index] == "ASSAULT" 
       or categories[index] == "FAMILY OFFENSES"
       or categories[index] == "SEX OFFENSES, FORCIBLE" 
       or categories[index] == 'SUICIDE'
       or categories[index] == 'WEAPON LAWS'
       or categories[index] =="ROBBERY"):
        data = { "Category" : categories[index], "Crime Count" : crime_count[index], "Crime Category": "Violent Crime" }
    #Nonviolent crimes
    elif(categories[index] == "BAD CHECKS" 
         or categories[index] == "RUNAWAY"
         or categories[index] =='BRIBERY'
         or categories[index] =='DISORDERLY CONDUCT'
         or categories[index] == 'DRIVING UNDER THE INFLUENCE'
         or categories[index] == 'DRUG/NARCOTIC'
         or categories[index] == 'DRUNKENNESS'
         or categories[index] =='EMBEZZLEMENT'
         or categories[index] =='EXTORTION'
         or categories[index] =='FORGERY/COUNTERFEITING'
         or categories[index] =='FRAUD'
         or categories[index] =='GAMBLING'
         or categories[index] =='KIDNAPPING'
         or categories[index] =='LIQUOR LAWS'
         or categories[index] =='LOITERING'
         or categories[index] =='MISSING PERSON'
         or categories[index] =='NON-CRIMINAL'
         or categories[index] =='OTHER OFFENSES'
         or categories[index] =='PORNOGRAPHY/OBSCENE MAT'
         or categories[index] =='PROSTITUTION'
         or categories[index] =='RECOVERED VEHICLE'
         or categories[index] =='SECONDARY CODES'
         or categories[index] =='SEX OFFENSES, NON FORCIBLE'
         or categories[index] =='SUSPICIOUS OCC'
         or categories[index] =='TRESPASS'
         or categories[index] =='VANDALISM'
         or categories[index] =='WARRANTS'):
         data = { "Category" : categories[index], "Crime Count" : crime_count[index], "Crime Category": "Non Violent Crime" }
    #Property Theift
    elif(categories[index] =="BURGLARY" 
         or categories[index] =='LARCENY/THEFT'
         or categories[index] =='STOLEN PROPERTY'
         or categories[index] =='VEHICLE THEFT'):
         data = { "Category" : categories[index], "Crime Count" : crime_count[index], "Crime Category": "Property Theft" }
    else:
        data = { "Category" : categories[index], "Crime Count" : crime_count[index], "Crime Category": None }
        
    l.append(data) 

print(pd.DataFrame(l))

                       Category  Crime Count     Crime Category
0                         ARSON         1425      Violent Crime
1                       ASSAULT        65355      Violent Crime
2                    BAD CHECKS          156  Non Violent Crime
3                       BRIBERY          332  Non Violent Crime
4                      BURGLARY        29862     Property Theft
5            DISORDERLY CONDUCT         2418  Non Violent Crime
6   DRIVING UNDER THE INFLUENCE         1936  Non Violent Crime
7                 DRUG/NARCOTIC        23988  Non Violent Crime
8                   DRUNKENNESS         2954  Non Violent Crime
9                  EMBEZZLEMENT          859  Non Violent Crime
10                    EXTORTION          224  Non Violent Crime
11              FAMILY OFFENSES          328      Violent Crime
12       FORGERY/COUNTERFEITING         3560  Non Violent Crime
13                        FRAUD        14078  Non Violent Crime
14                     GAMBLING           93  Non Violent Crime
15                   KIDNAPPING         1857  Non Violent Crime
16                LARCENY/THEFT       204757     Property Theft
17                  LIQUOR LAWS          807  Non Violent Crime
18                    LOITERING          191  Non Violent Crime
19               MISSING PERSON        22708  Non Violent Crime
20                 NON-CRIMINAL        94952  Non Violent Crime
21               OTHER OFFENSES        98607  Non Violent Crime
22      PORNOGRAPHY/OBSCENE MAT           21  Non Violent Crime
23                 PROSTITUTION         2684  Non Violent Crime
24            RECOVERED VEHICLE         3130  Non Violent Crime
25                      ROBBERY        18026      Violent Crime
26                      RUNAWAY          972      Violent Crime
27              SECONDARY CODES         9809  Non Violent Crime
28       SEX OFFENSES, FORCIBLE         4536      Violent Crime
29   SEX OFFENSES, NON FORCIBLE          145  Non Violent Crime
30              STOLEN PROPERTY         4970     Property Theft
31                      SUICIDE          376      Violent Crime
32               SUSPICIOUS OCC        28328  Non Violent Crime
33                         TREA           10               None
34                     TRESPASS         7083  Non Violent Crime
35                    VANDALISM        40121  Non Violent Crime
36                VEHICLE THEFT        33446     Property Theft
37                     WARRANTS        31897  Non Violent Crime
38                  WEAPON LAWS         8114      Violent Crime

In [18]:
# load CSVs for data from 2008-2012
trees_data1317 = pd.read_csv("Source CSVs/SF_Trees2013-2017.csv")
trees_data1317.head()

,Unnamed: 0,Unnamed: 0.1,Tree ID,Species,Latitude,Longitude,Year
0,0,2,115737,Acer rubrum :: Red Maple,37.737752,-122.464496,2016
1,19,68,109770,Olea Majestic Beauty ::,37.732370,-122.393154,2015
2,30,130,108715,Pittosporum undulatum :: Victorian Box,37.741745,-122.429864,2016
3,68,304,115538,Crataegus laevigata :: English Hawthorn,37.777870,-122.418925,2016
4,69,305,115537,Crataegus laevigata :: English Hawthorn,37.777870,-122.418925,2016

In [19]:
trees_data1317 = trees_data1317.loc[:, ~trees_data1317.columns.str.contains('^Unnamed')]
trees_data1317.head()

,Tree ID,Species,Latitude,Longitude,Year
0,115737,Acer rubrum :: Red Maple,37.737752,-122.464496,2016
1,109770,Olea Majestic Beauty ::,37.732370,-122.393154,2015
2,108715,Pittosporum undulatum :: Victorian Box,37.741745,-122.429864,2016
3,115538,Crataegus laevigata :: English Hawthorn,37.777870,-122.418925,2016
4,115537,Crataegus laevigata :: English Hawthorn,37.777870,-122.418925,2016

In [20]:
#Collect value of species 
trees_data1317_group = trees_data1317.groupby('Species')
trees_data1317_count = trees_data1317_group['Species'].count()
trees_data1317_count

Species
::                                                   82
Acacia baileyana 'Purpurea' :: Purple-leaf Acacia     5
Acacia baileyana :: Bailey's Acacia                  10
Acacia cognata :: River Wattle                        1
Acacia decurrens :: Acacia: Silver Wattle             2
                                                     ..
Ulmus spp :: Elm Spp                                  2
Washingtonia filifera :: California Fan Palm          1
Washingtonia robusta :: Mexican Fan Palm             26
Yucca elephantipes :: Giant Yucca                     1
Zelkova serrata :: Sawleaf Zelkova                   25
Name: Species, Length: 263, dtype: int64

In [24]:
#Drop "::" from Index list
#is_2002 =  gapminder['year']==2002
trees1317s = trees_data1317[trees_data1317["Species"] !="::"]
trees1317s.head()

,Tree ID,Species,Latitude,Longitude,Year
0,115737,Acer rubrum :: Red Maple,37.737752,-122.464496,2016
1,109770,Olea Majestic Beauty ::,37.732370,-122.393154,2015
2,108715,Pittosporum undulatum :: Victorian Box,37.741745,-122.429864,2016
3,115538,Crataegus laevigata :: English Hawthorn,37.777870,-122.418925,2016
4,115537,Crataegus laevigata :: English Hawthorn,37.777870,-122.418925,2016