In [7]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import gmaps
#from config import gkey

In [8]:
# load CSVs for data from 2008-2012
crime1317 = pd.read_csv("Source CSVs/Crime2013-2017.csv")
crime1317 = crime1317.loc[:, ~crime1317.columns.str.contains('^Unnamed')]

In [9]:
#Dropped colums in dataframe
crime_data1317 = crime1317.drop(columns =['Description', 'Day', 'Time', 'District',])
crime_data1317.head()

   Incident ID       Category   Longitude   Latitude  Year
0    180000417        ASSAULT -122.403405  37.775421  2017
1    180000069        ASSAULT -122.412999  37.786277  2017
2    180000069       BURGLARY -122.412999  37.786277  2017
3    180000069    WEAPON LAWS -122.412999  37.786277  2017
4    186005077  LARCENY/THEFT -122.421876  37.764089  2017

In [10]:
#Group by category
crimeyears1317_group = crime_data1317.groupby(['Category', 'Year'])
# Count how many times each year appears in our group
crime_data1317_count = crimeyears1317_group['Category'].count()
crime_data1317_count

Category     Year
ARSON        2013     248
             2014     253
             2015     311
             2016     286
             2017     327
                     ...
WEAPON LAWS  2013    1535
             2014    1580
             2015    1650
             2016    1659
             2017    1690
Name: Category, Length: 194, dtype: int64

In [11]:
crime_df1317 = pd.DataFrame(crime_data1317_count)
crime_df1317 = crime_df1317.rename(columns= {"Category": "Crime Count"})
crime_df1317 = crime_df1317.reset_index()
#Here Marla 
crime_df1317

        Category  Year  Crime Count
0          ARSON  2013          248
1          ARSON  2014          253
2          ARSON  2015          311
3          ARSON  2016          286
4          ARSON  2017          327
..           ...   ...          ...
189  WEAPON LAWS  2013         1535
190  WEAPON LAWS  2014         1580
191  WEAPON LAWS  2015         1650
192  WEAPON LAWS  2016         1659
193  WEAPON LAWS  2017         1690

[194 rows x 3 columns]

In [13]:
# violent non violent and property

l = []
data = {}
categories = list(crime_df1317["Category"])
crime_count = list(crime_df1317["Crime Count"])
Year = list (crime_df1317['Year'])
for index in range(len(categories)):
    # violent crimes
    if(categories[index] == "ARSON" 
       or categories[index] == "RUNAWAY" 
       or categories[index] == "ASSAULT" 
       or categories[index] == "FAMILY OFFENSES"
       or categories[index] == "SEX OFFENSES, FORCIBLE" 
       or categories[index] == 'SUICIDE'
       or categories[index] == 'WEAPON LAWS'
       or categories[index] =="ROBBERY"):
        data = { "Category" : categories[index], "Crime Count" : crime_count[index], "Crime Category": "Violent Crime" }
    #Nonviolent crimes
    elif(categories[index] == "BAD CHECKS" 
         or categories[index] == "RUNAWAY"
         or categories[index] =='BRIBERY'
         or categories[index] =='DISORDERLY CONDUCT'
         or categories[index] == 'DRIVING UNDER THE INFLUENCE'
         or categories[index] == 'DRUG/NARCOTIC'
         or categories[index] == 'DRUNKENNESS'
         or categories[index] =='EMBEZZLEMENT'
         or categories[index] =='EXTORTION'
         or categories[index] =='FORGERY/COUNTERFEITING'
         or categories[index] =='FRAUD'
         or categories[index] =='GAMBLING'
         or categories[index] =='KIDNAPPING'
         or categories[index] =='LIQUOR LAWS'
         or categories[index] =='LOITERING'
         or categories[index] =='MISSING PERSON'
         or categories[index] =='NON-CRIMINAL'
         or categories[index] =='OTHER OFFENSES'
         or categories[index] =='PORNOGRAPHY/OBSCENE MAT'
         or categories[index] =='PROSTITUTION'
         or categories[index] =='RECOVERED VEHICLE'
         or categories[index] =='SECONDARY CODES'
         or categories[index] =='SEX OFFENSES, NON FORCIBLE'
         or categories[index] =='SUSPICIOUS OCC'
         or categories[index] =='TRESPASS'
         or categories[index] =='VANDALISM'
         or categories[index] =='WARRANTS'):
         data = { "Category" : categories[index], "Crime Count" : crime_count[index], "Crime Category": "Non Violent Crime" }
    #Property Theift
    elif(categories[index] =="BURGLARY" 
         or categories[index] =='LARCENY/THEFT'
         or categories[index] =='STOLEN PROPERTY'
         or categories[index] =='VEHICLE THEFT'):
         data = { "Category" : categories[index], "Crime Count" : crime_count[index], "Crime Category": "Property Theft" }
    else:
        data = { "Category" : categories[index], "Crime Count" : crime_count[index], "Crime Category": None }
        
    l.append(data) 

print(pd.DataFrame(l))

        Category  Crime Count Crime Category
0          ARSON          248  Violent Crime
1          ARSON          253  Violent Crime
2          ARSON          311  Violent Crime
3          ARSON          286  Violent Crime
4          ARSON          327  Violent Crime
..           ...          ...            ...
189  WEAPON LAWS         1535  Violent Crime
190  WEAPON LAWS         1580  Violent Crime
191  WEAPON LAWS         1650  Violent Crime
192  WEAPON LAWS         1659  Violent Crime
193  WEAPON LAWS         1690  Violent Crime

[194 rows x 3 columns]

In [18]:
# load CSVs for data from 2008-2012
trees_data1317 = pd.read_csv("Source CSVs/SF_Trees2013-2017.csv")
trees_data1317.head()

,Unnamed: 0,Unnamed: 0.1,Tree ID,Species,Latitude,Longitude,Year
0,0,2,115737,Acer rubrum :: Red Maple,37.737752,-122.464496,2016
1,19,68,109770,Olea Majestic Beauty ::,37.732370,-122.393154,2015
2,30,130,108715,Pittosporum undulatum :: Victorian Box,37.741745,-122.429864,2016
3,68,304,115538,Crataegus laevigata :: English Hawthorn,37.777870,-122.418925,2016
4,69,305,115537,Crataegus laevigata :: English Hawthorn,37.777870,-122.418925,2016

In [19]:
trees_data1317 = trees_data1317.loc[:, ~trees_data1317.columns.str.contains('^Unnamed')]
trees_data1317.head()

,Tree ID,Species,Latitude,Longitude,Year
0,115737,Acer rubrum :: Red Maple,37.737752,-122.464496,2016
1,109770,Olea Majestic Beauty ::,37.732370,-122.393154,2015
2,108715,Pittosporum undulatum :: Victorian Box,37.741745,-122.429864,2016
3,115538,Crataegus laevigata :: English Hawthorn,37.777870,-122.418925,2016
4,115537,Crataegus laevigata :: English Hawthorn,37.777870,-122.418925,2016

In [20]:
#Collect value of species 
trees_data1317_group = trees_data1317.groupby('Species')
trees_data1317_count = trees_data1317_group['Species'].count()
trees_data1317_count

Species
::                                                   82
Acacia baileyana 'Purpurea' :: Purple-leaf Acacia     5
Acacia baileyana :: Bailey's Acacia                  10
Acacia cognata :: River Wattle                        1
Acacia decurrens :: Acacia: Silver Wattle             2
                                                     ..
Ulmus spp :: Elm Spp                                  2
Washingtonia filifera :: California Fan Palm          1
Washingtonia robusta :: Mexican Fan Palm             26
Yucca elephantipes :: Giant Yucca                     1
Zelkova serrata :: Sawleaf Zelkova                   25
Name: Species, Length: 263, dtype: int64

In [24]:
#Drop "::" from Index list
#is_2002 =  gapminder['year']==2002
trees1317s = trees_data1317[trees_data1317["Species"] !="::"]
trees1317s.head()

,Tree ID,Species,Latitude,Longitude,Year
0,115737,Acer rubrum :: Red Maple,37.737752,-122.464496,2016
1,109770,Olea Majestic Beauty ::,37.732370,-122.393154,2015
2,108715,Pittosporum undulatum :: Victorian Box,37.741745,-122.429864,2016
3,115538,Crataegus laevigata :: English Hawthorn,37.777870,-122.418925,2016
4,115537,Crataegus laevigata :: English Hawthorn,37.777870,-122.418925,2016

In [25]:
# Collect the mean species of trees
#treespecies0307 = trees0307.value_counts()
df = trees1317s.groupby(['Species', "Year"]).size()
pd.DataFrame(df)

                                                         0
Species                                           Year
Acacia baileyana 'Purpurea' :: Purple-leaf Acacia 2014   1
                                                  2015   4
Acacia baileyana :: Bailey's Acacia               2013   1
                                                  2014   3
                                                  2015   2
...                                                     ..
Washingtonia robusta :: Mexican Fan Palm          2016   8
                                                  2017  10
Yucca elephantipes :: Giant Yucca                 2017   1
Zelkova serrata :: Sawleaf Zelkova                2014   1
                                                  2017  24

[689 rows x 1 columns]