# Practice Plots
----

In [199]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import gmaps
#from config import gkey

In [200]:
# load CSVs for data from 2003-2007
crime0307 = pd.read_csv("Source CSVs/Crime2003-2007.csv")
crime0307 = crime0307.loc[:, ~crime0307.columns.str.contains('^Unnamed')]

In [201]:
#Dropped colums in dataframe
crime_data0307 = crime0307.drop(columns =['Description', 'Day', 'Time', 'District',])
crime_data0307.head()

   Incident ID                Category   Longitude   Latitude  Year
0     91192460  FORGERY/COUNTERFEITING -122.409528  37.744432  2007
1     80000177             WEAPON LAWS -122.396305  37.793257  2007
2     80000058                WARRANTS -122.404260  37.798116  2007
3     80000111                 ASSAULT -122.412351  37.757431  2007
4     80000111          OTHER OFFENSES -122.412351  37.757431  2007

In [202]:
#Group by category
crimeyears0307_group = crime_data0307.groupby('Category')
# Count how many times each year appears in our group
crime_data0307_count = crimeyears0307_group['Category'].count()
crime_data0307_count

Category
ARSON                            1282
ASSAULT                         62438
BAD CHECKS                        464
BRIBERY                           195
BURGLARY                        32131
DISORDERLY CONDUCT               3457
DRIVING UNDER THE INFLUENCE      1292
DRUG/NARCOTIC                   47588
DRUNKENNESS                      3244
EMBEZZLEMENT                     1122
EXTORTION                         223
FAMILY OFFENSES                   457
FORGERY/COUNTERFEITING          11663
FRAUD                           13364
GAMBLING                          145
KIDNAPPING                       1527
LARCENY/THEFT                  128602
LIQUOR LAWS                      1554
LOITERING                        1206
MISSING PERSON                  19213
NON-CRIMINAL                    66611
OTHER OFFENSES                  97044
PORNOGRAPHY/OBSCENE MAT            21
PROSTITUTION                     7674
RECOVERED VEHICLE                2073
ROBBERY                         18193
RUNAWAY                          1825
SECONDARY CODES                  6422
SEX OFFENSES, FORCIBLE           3230
SEX OFFENSES, NON FORCIBLE        150
STOLEN PROPERTY                  3056
SUICIDE                           470
SUSPICIOUS OCC                  22805
TRESPASS                         5915
VANDALISM                       34979
VEHICLE THEFT                   64712
WARRANTS                        37160
WEAPON LAWS                      6471
Name: Category, dtype: int64

In [203]:
crime_df0307 = pd.DataFrame(crime_data0307_count)
crime_df0307 = crime_df0307.rename(columns= {"Category": "Crime Count"})
crime_df0307 = crime_df0307.reset_index()
crime_df0307

                       Category  Crime Count
0                         ARSON         1282
1                       ASSAULT        62438
2                    BAD CHECKS          464
3                       BRIBERY          195
4                      BURGLARY        32131
5            DISORDERLY CONDUCT         3457
6   DRIVING UNDER THE INFLUENCE         1292
7                 DRUG/NARCOTIC        47588
8                   DRUNKENNESS         3244
9                  EMBEZZLEMENT         1122
10                    EXTORTION          223
11              FAMILY OFFENSES          457
12       FORGERY/COUNTERFEITING        11663
13                        FRAUD        13364
14                     GAMBLING          145
15                   KIDNAPPING         1527
16                LARCENY/THEFT       128602
17                  LIQUOR LAWS         1554
18                    LOITERING         1206
19               MISSING PERSON        19213
20                 NON-CRIMINAL        66611
21               OTHER OFFENSES        97044
22      PORNOGRAPHY/OBSCENE MAT           21
23                 PROSTITUTION         7674
24            RECOVERED VEHICLE         2073
25                      ROBBERY        18193
26                      RUNAWAY         1825
27              SECONDARY CODES         6422
28       SEX OFFENSES, FORCIBLE         3230
29   SEX OFFENSES, NON FORCIBLE          150
30              STOLEN PROPERTY         3056
31                      SUICIDE          470
32               SUSPICIOUS OCC        22805
33                     TRESPASS         5915
34                    VANDALISM        34979
35                VEHICLE THEFT        64712
36                     WARRANTS        37160
37                  WEAPON LAWS         6471

In [204]:
# violent non violent and property

l = []
data = {}
categories = list(crime_df0307["Category"])
crime_count = list(crime_df0307["Crime Count"])

for index in range(len(categories)):
    # violent crimes
    if(categories[index] == "ARSON" 
       or categories[index] == "RUNAWAY" 
       or categories[index] == "ASSAULT" 
       or categories[index] == "FAMILY OFFENSES"
       or categories[index] == "SEX OFFENSES, FORCIBLE" 
       or categories[index] == 'SUICIDE'
       or categories[index] == 'WEAPON LAWS'
       or categories[index] =="ROBBERY"):
        data = { "Category" : categories[index], "Crime Count" : crime_count[index], "Crime Category": "Violent Crime" }
    #Nonviolent crimes
    elif(categories[index] == "BAD CHECKS" 
         or categories[index] == "RUNAWAY"
         or categories[index] =='BRIBERY'
         or categories[index] =='DISORDERLY CONDUCT'
         or categories[index] == 'DRIVING UNDER THE INFLUENCE'
         or categories[index] == 'DRUG/NARCOTIC'
         or categories[index] == 'DRUNKENNESS'
         or categories[index] =='EMBEZZLEMENT'
         or categories[index] =='EXTORTION'
         or categories[index] =='FORGERY/COUNTERFEITING'
         or categories[index] =='FRAUD'
         or categories[index] =='GAMBLING'
         or categories[index] =='KIDNAPPING'
         or categories[index] =='LIQUOR LAWS'
         or categories[index] =='LOITERING'
         or categories[index] =='MISSING PERSON'
         or categories[index] =='NON-CRIMINAL'
         or categories[index] =='OTHER OFFENSES'
         or categories[index] =='PORNOGRAPHY/OBSCENE MAT'
         or categories[index] =='PROSTITUTION'
         or categories[index] =='RECOVERED VEHICLE'
         or categories[index] =='SECONDARY CODES'
         or categories[index] =='SEX OFFENSES, NON FORCIBLE'
         or categories[index] =='SUSPICIOUS OCC'
         or categories[index] =='TRESPASS'
         or categories[index] =='VANDALISM'
         or categories[index] =='WARRANTS'):
         data = { "Category" : categories[index], "Crime Count" : crime_count[index], "Crime Category": "Non Violent Crime" }
    #Property Theift
    elif(categories[index] =="BURGLARY" 
         or categories[index] =='LARCENY/THEFT'
         or categories[index] =='STOLEN PROPERTY'
         or categories[index] =='VEHICLE THEFT'):
         data = { "Category" : categories[index], "Crime Count" : crime_count[index], "Crime Category": "Property Theft" }
    else:
        data = { "Category" : categories[index], "Crime Count" : crime_count[index], "Crime Category": None }
        
    l.append(data) 

print(pd.DataFrame(l))

                       Category  Crime Count     Crime Category
0                         ARSON         1282      Violent Crime
1                       ASSAULT        62438      Violent Crime
2                    BAD CHECKS          464  Non Violent Crime
3                       BRIBERY          195  Non Violent Crime
4                      BURGLARY        32131     Property Theft
5            DISORDERLY CONDUCT         3457  Non Violent Crime
6   DRIVING UNDER THE INFLUENCE         1292  Non Violent Crime
7                 DRUG/NARCOTIC        47588  Non Violent Crime
8                   DRUNKENNESS         3244  Non Violent Crime
9                  EMBEZZLEMENT         1122  Non Violent Crime
10                    EXTORTION          223  Non Violent Crime
11              FAMILY OFFENSES          457      Violent Crime
12       FORGERY/COUNTERFEITING        11663  Non Violent Crime
13                        FRAUD        13364  Non Violent Crime
14                     GAMBLING          145  Non Violent Crime
15                   KIDNAPPING         1527  Non Violent Crime
16                LARCENY/THEFT       128602     Property Theft
17                  LIQUOR LAWS         1554  Non Violent Crime
18                    LOITERING         1206  Non Violent Crime
19               MISSING PERSON        19213  Non Violent Crime
20                 NON-CRIMINAL        66611  Non Violent Crime
21               OTHER OFFENSES        97044  Non Violent Crime
22      PORNOGRAPHY/OBSCENE MAT           21  Non Violent Crime
23                 PROSTITUTION         7674  Non Violent Crime
24            RECOVERED VEHICLE         2073  Non Violent Crime
25                      ROBBERY        18193      Violent Crime
26                      RUNAWAY         1825      Violent Crime
27              SECONDARY CODES         6422  Non Violent Crime
28       SEX OFFENSES, FORCIBLE         3230      Violent Crime
29   SEX OFFENSES, NON FORCIBLE          150  Non Violent Crime
30              STOLEN PROPERTY         3056     Property Theft
31                      SUICIDE          470      Violent Crime
32               SUSPICIOUS OCC        22805  Non Violent Crime
33                     TRESPASS         5915  Non Violent Crime
34                    VANDALISM        34979  Non Violent Crime
35                VEHICLE THEFT        64712     Property Theft
36                     WARRANTS        37160  Non Violent Crime
37                  WEAPON LAWS         6471      Violent Crime

In [205]:
plt.

SyntaxError: invalid syntax (<ipython-input-205-efb1a9b93a17>, line 1)

In [ ]:
#Load tree data for species
trees_data0307 = pd.read_csv("Source CSVs/SF_Trees2003-2007.csv")
trees_data0307.head()

In [ ]:
trees_data0307 = trees_data0307.loc[:, ~trees_data0307.columns.str.contains('^Unnamed')]
trees_data0307.head()

In [206]:
#Collect value of species 
trees_data0307_group = trees_data0307.groupby('Species')
trees_data0307_count = trees_data0307_group['Species'].count()
trees_data0307_count

Species
::                                                    10
Acacia baileyana 'Purpurea' :: Purple-leaf Acacia      1
Acacia baileyana :: Bailey's Acacia                   62
Acacia cognata :: River Wattle                         1
Acacia decurrens :: Acacia: Silver Wattle              2
                                                    ...
Ulmus spp :: Elm Spp                                   5
Washingtonia filifera :: California Fan Palm           1
Washingtonia robusta :: Mexican Fan Palm             166
Yucca gloriosa :: Spanish Dagger                       2
Zelkova serrata :: Sawleaf Zelkova                     1
Name: Species, Length: 227, dtype: int64

In [218]:
#Drop "::" from Index list
#is_2002 =  gapminder['year']==2002
trees0307s = trees_data0307[trees_data0307["Species"] !="::"]
trees0307s

,Tree ID,Species,Latitude,Longitude,Year
0,52343,Ginkgo biloba :: Maidenhair Tree,37.743250,-122.466793,2005
1,11454,Pittosporum undulatum :: Victorian Box,37.742287,-122.440192,2006
2,50849,Prunus cerasifera :: Cherry Plum,37.768760,-122.447616,2004
3,52392,Prunus cerasifera :: Cherry Plum,37.736877,-122.424094,2005
4,52390,Prunus cerasifera :: Cherry Plum,37.736877,-122.424094,2005
5,52391,Prunus cerasifera :: Cherry Plum,37.736877,-122.424094,2005
6,52389,Prunus cerasifera :: Cherry Plum,37.736877,-122.424094,2005
7,9317,Ligustrum lucidum :: Glossy Privet,37.743138,-122.437832,2006
8,95093,Lophostemon confertus :: Brisbane Box,37.777520,-122.413138,2006
9,91707,Pyrus calleryana 'Aristocrat' :: Aristocrat Ca...,37.772234,-122.418277,2007
10,91705,Pyrus calleryana 'Aristocrat' :: Aristocrat Ca...,37.772234,-122.418277,2007
11,91704,Pyrus calleryana 'Aristocrat' :: Aristocrat Ca...,37.772234,-122.418277,2007
12,91706,Pyrus calleryana 'Aristocrat' :: Aristocrat Ca...,37.772234,-122.418277,2007
13,91703,Pyrus calleryana 'Aristocrat' :: Aristocrat Ca...,37.772234,-122.418277,2007
14,91702,Pyrus calleryana 'Aristocrat' :: Aristocrat Ca...,37.772234,-122.418277,2007
15,52388,Tristaniopsis laurina 'Elegant' :: Small-leaf ...,37.743825,-122.418811,2005
16,28536,Ginkgo biloba 'Saratoga' :: Ginkgo: Saratoga,37.733957,-122.381913,2006
17,10727,Platanus x hispanica :: Sycamore: London Plane,37.733957,-122.381913,2004
18,10729,Ginkgo biloba :: Maidenhair Tree,37.733957,-122.381913,2006
19,51611,Afrocarpus gracilior :: Fern Pine,37.784762,-122.421284,2005
20,91660,Pyrus calleryana 'Aristocrat' :: Aristocrat Ca...,37.757219,-122.416655,2007
21,47919,Platanus x hispanica :: Sycamore: London Plane,37.784762,-122.421284,2005
22,31890,Tristaniopsis laurina :: Swamp Myrtle,37.773435,-122.415854,2006
23,38488,Metrosideros excelsa :: New Zealand Xmas Tree,37.798712,-122.415182,2003
24,81721,Acer rubrum :: Red Maple,37.758282,-122.391335,2004
25,81719,Acer rubrum :: Red Maple,37.758170,-122.391318,2004
26,81720,Ginkgo biloba :: Maidenhair Tree,37.758230,-122.391320,2004
27,81722,Ginkgo biloba :: Maidenhair Tree,37.758352,-122.391338,2004
28,81718,Ginkgo biloba :: Maidenhair Tree,37.758110,-122.391306,2004
29,81717,Acer rubrum :: Red Maple,37.758055,-122.391304,2004
...,...,...,...,...,...
8876,29064,Acer rubrum :: Red Maple,37.779120,-122.428467,2006
8877,4717,Liquidambar styraciflua :: American Sweet Gum,37.804121,-122.415707,2006
8878,4715,Liquidambar styraciflua :: American Sweet Gum,37.803902,-122.415396,2006
8879,27723,Lophostemon confertus :: Brisbane Box,37.750331,-122.387879,2006
8880,86620,Acer buergeranum :: Trident Maple,37.772450,-122.407223,2007
8881,2096,Arbutus 'Marina' :: Hybrid Strawberry Tree,37.734477,-122.438323,2006
8882,2094,Arbutus 'Marina' :: Hybrid Strawberry Tree,37.734477,-122.438323,2005
8883,2093,Arbutus 'Marina' :: Hybrid Strawberry Tree,37.734477,-122.438323,2006
8884,27050,Arbutus 'Marina' :: Hybrid Strawberry Tree,37.728925,-122.415971,2005
8885,17008,Tristaniopsis laurina :: Swamp Myrtle,37.773397,-122.435910,2006
8886,13865,Platanus x hispanica :: Sycamore: London Plane,37.782286,-122.410370,2006
8887,13870,Platanus x hispanica 'Yarwood' :: Yarwood Syca...,37.782286,-122.410370,2007
8888,8149,Tristaniopsis laurina :: Swamp Myrtle,37.777557,-122.433555,2007
8889,84831,Pyrus calleryana :: Ornamental Pear,37.775188,-122.469503,2007
8890,84833,Pyrus calleryana :: Ornamental Pear,37.775185,-122.469639,2007
8891,67372,Pyrus calleryana :: Ornamental Pear,37.775191,-122.469426,2007
8892,84832,Pyrus calleryana :: Ornamental Pear,37.775185,-122.469569,2007
8893,50324,Arbutus 'Marina' :: Hybrid Strawberry Tree,37.753437,-122.425412,2003
8894,84708,Washingtonia robusta :: Mexican Fan Palm,37.769025,-122.437947,2007
8895,84717,Washingtonia robusta :: Mexican Fan Palm,37.769025,-122.437947,2007
8896,84714,Washingtonia robusta :: Mexican Fan Palm,37.769025,-122.437947,2007
8897,50817,Leptospermum laevigatum :: Australian Tea Tree,37.730839,-122.457522,2004
8898,84716,Washingtonia robusta :: Mexican Fan Palm,37.769025,-122.437947,2007
8899,84711,Washingtonia robusta :: Mexican Fan Palm,37.769025,-122.437947,2007
8900,84709,Washingtonia robusta :: Mexican Fan Palm,37.769025,-122.437947,2007
8901,84712,Washingtonia robusta :: Mexican Fan Palm,37.769025,-122.437947,2007
8902,84710,Washingtonia robusta :: Mexican Fan Palm,37.769025,-122.437947,2007
8903,84707,Washingtonia robusta :: Mexican Fan Palm,37.769025,-122.437947,2007
8904,84713,Washingtonia robusta :: Mexican Fan Palm,37.769025,-122.437947,2007
8905,84715,Washingtonia robusta :: Mexican Fan Palm,37.769025,-122.437947,2007

In [219]:
# Collect the mean species of trees
#treespecies0307 = trees0307.value_counts()
df = trees0307s.groupby(['Species', "Year"]).size()
pd.DataFrame(df)

                                                         0
Species                                           Year
Acacia baileyana 'Purpurea' :: Purple-leaf Acacia 2007   1
Acacia baileyana :: Bailey's Acacia               2003  35
                                                  2004   6
                                                  2005  11
                                                  2006   9
...                                                     ..
Washingtonia robusta :: Mexican Fan Palm          2006   5
                                                  2007  35
Yucca gloriosa :: Spanish Dagger                  2005   1
                                                  2007   1
Zelkova serrata :: Sawleaf Zelkova                2003   1

[628 rows x 1 columns]

In [185]:
# Plot the species average as a line chart
species_avg, = plt.plot(years, treespecies0307, color="blue", label="Species Average" )

# Plot the tree values for a single country
country_one, = plt.plot(years, combined_unemployed_data.loc['USA',["2010","2011","2012","2013","2014"]], 
                        color="green",label=combined_unemployed_data.loc['USA',"Country Name"])

NameError: name 'years' is not defined