# Filtering SF Tree Data
----

In [1]:
# Dependencies
import json
import requests
import pandas as pd
import pprint as pp
from config import api_key
from config import app_token
import numpy as np

In [9]:
# Open SF Tree CSV
source_file = "Source CSVs/SF_Trees.csv"

# Pull the source file into a dataframe
sourceTrees = pd.read_csv(source_file)
sourceTrees

,Unnamed: 0,Tree ID,Species,Latitude,Longitude,Year
0,2,115737,Acer rubrum :: Red Maple,37.737752,-122.464496,2016
1,9,16478,Melaleuca linariifolia :: Flaxleaf Paperbark,37.739219,-122.377869,1997
2,14,102172,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.761558,-122.440979,2012
3,15,102171,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.761558,-122.440979,2012
4,16,12977,Maytenus boaria :: Mayten,37.769905,-122.436179,1990
...,...,...,...,...,...,...
57296,192468,84715,Washingtonia robusta :: Mexican Fan Palm,37.769025,-122.437947,2007
57297,192485,34308,Jacaranda mimosifolia :: Jacaranda,37.750049,-122.402815,1997
57298,192507,34317,Jacaranda mimosifolia :: Jacaranda,37.750049,-122.402815,1997
57299,192528,45381,Lophostemon confertus :: Brisbane Box,37.792882,-122.480907,2001
57300,192538,93931,Pinus Spp :: Pine Spp,37.720749,-122.475342,2010

# 2003  - 2007 Data

In [33]:
# Just 2003 and more recent
filteredYear = sourceTrees[sourceTrees.Year >= 2003]
filteredYear

,Unnamed: 0,Tree ID,Species,Latitude,Longitude,Year
0,2,115737,Acer rubrum :: Red Maple,37.737752,-122.464496,2016
2,14,102172,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.761558,-122.440979,2012
3,15,102171,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.761558,-122.440979,2012
5,21,82730,Tristaniopsis laurina :: Swamp Myrtle,37.747306,-122.405202,2008
6,28,190612,Ginkgo biloba :: Maidenhair Tree,37.775823,-122.414996,2018
...,...,...,...,...,...,...
57288,192381,84710,Washingtonia robusta :: Mexican Fan Palm,37.769025,-122.437947,2007
57289,192382,84707,Washingtonia robusta :: Mexican Fan Palm,37.769025,-122.437947,2007
57290,192383,84713,Washingtonia robusta :: Mexican Fan Palm,37.769025,-122.437947,2007
57296,192468,84715,Washingtonia robusta :: Mexican Fan Palm,37.769025,-122.437947,2007
57300,192538,93931,Pinus Spp :: Pine Spp,37.720749,-122.475342,2010

In [23]:
# Just 2007 and earlier
filteredYear2007 = filteredYear[filteredYear.Year <= 2007]
filteredYear2007

,Unnamed: 0,Tree ID,Species,Latitude,Longitude,Year
23,95,52343,Ginkgo biloba :: Maidenhair Tree,37.743250,-122.466793,2005
26,113,11454,Pittosporum undulatum :: Victorian Box,37.742287,-122.440192,2006
32,146,50849,Prunus cerasifera :: Cherry Plum,37.768760,-122.447616,2004
57,264,52392,Prunus cerasifera :: Cherry Plum,37.736877,-122.424094,2005
58,265,52390,Prunus cerasifera :: Cherry Plum,37.736877,-122.424094,2005
...,...,...,...,...,...,...
57284,192367,84712,Washingtonia robusta :: Mexican Fan Palm,37.769025,-122.437947,2007
57288,192381,84710,Washingtonia robusta :: Mexican Fan Palm,37.769025,-122.437947,2007
57289,192382,84707,Washingtonia robusta :: Mexican Fan Palm,37.769025,-122.437947,2007
57290,192383,84713,Washingtonia robusta :: Mexican Fan Palm,37.769025,-122.437947,2007
57296,192468,84715,Washingtonia robusta :: Mexican Fan Palm,37.769025,-122.437947,2007

In [35]:
# Export to CSV
filteredYear2007.to_csv('Source CSVs/SF_Trees2003-2007.csv')
print("Export Complete")

Export Complete

# 2008 - 2012 Data

In [25]:
# Just 2008 and more recent
filteredYear = sourceTrees[sourceTrees.Year >= 2008]
filteredYear

,Unnamed: 0,Tree ID,Species,Latitude,Longitude,Year
0,2,115737,Acer rubrum :: Red Maple,37.737752,-122.464496,2016
2,14,102172,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.761558,-122.440979,2012
3,15,102171,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.761558,-122.440979,2012
5,21,82730,Tristaniopsis laurina :: Swamp Myrtle,37.747306,-122.405202,2008
6,28,190612,Ginkgo biloba :: Maidenhair Tree,37.775823,-122.414996,2018
...,...,...,...,...,...,...
57231,191005,102569,Olea europaea :: Olive Tree,37.718150,-122.476387,2013
57242,191288,14676,Acer rubrum 'Red Sunset' :: Red Swamp Maple,37.779937,-122.425244,2011
57243,191306,93932,Pinus Spp :: Pine Spp,37.720749,-122.475342,2010
57253,192035,12380,Lophostemon confertus :: Brisbane Box,37.784236,-122.428680,2013
57300,192538,93931,Pinus Spp :: Pine Spp,37.720749,-122.475342,2010

In [26]:
# Just 2012 and earlier
filteredYear2012 = filteredYear[filteredYear.Year <= 2012]
filteredYear2012

,Unnamed: 0,Tree ID,Species,Latitude,Longitude,Year
2,14,102172,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.761558,-122.440979,2012
3,15,102171,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.761558,-122.440979,2012
5,21,82730,Tristaniopsis laurina :: Swamp Myrtle,37.747306,-122.405202,2008
28,117,82709,Casurina stricta :: Beefwood: Drooping She-Oak,37.715135,-122.388564,2009
83,328,103814,Prunus serrulata 'Kwanzan' :: Kwanzan Flowerin...,37.787290,-122.419810,2009
...,...,...,...,...,...,...
57138,190618,94202,Laurus nobilis :: Sweet Bay: Grecian Laurel,37.798730,-122.415603,2010
57141,190670,87769,Tristaniopsis laurina :: Swamp Myrtle,37.735835,-122.439733,2008
57242,191288,14676,Acer rubrum 'Red Sunset' :: Red Swamp Maple,37.779937,-122.425244,2011
57243,191306,93932,Pinus Spp :: Pine Spp,37.720749,-122.475342,2010
57300,192538,93931,Pinus Spp :: Pine Spp,37.720749,-122.475342,2010

In [36]:
# Export to CSV
filteredYear2012.to_csv('Source CSVs/SF_Trees2007-2012.csv')
print("Export Complete")

Export Complete

# 2013 - 2017 Data

In [27]:
# Just 2013 and more recent
filteredYear = sourceTrees[sourceTrees.Year >= 2013]
filteredYear

,Unnamed: 0,Tree ID,Species,Latitude,Longitude,Year
0,2,115737,Acer rubrum :: Red Maple,37.737752,-122.464496,2016
6,28,190612,Ginkgo biloba :: Maidenhair Tree,37.775823,-122.414996,2018
7,29,190611,Ginkgo biloba :: Maidenhair Tree,37.775786,-122.414948,2018
10,43,254190,Ceanothus 'Ray Hartman' :: California Lilac 'R...,37.757567,-122.400066,2018
11,46,202834,Ceanothus 'Ray Hartman' :: California Lilac 'R...,37.757747,-122.400257,2018
...,...,...,...,...,...,...
57217,190755,258128,Melaleuca linariifolia :: Flaxleaf Paperbark,37.723377,-122.409566,2017
57229,190797,45244,Arbutus 'Marina' :: Hybrid Strawberry Tree,37.722902,-122.411826,2015
57230,190798,45243,Arbutus 'Marina' :: Hybrid Strawberry Tree,37.722902,-122.411826,2015
57231,191005,102569,Olea europaea :: Olive Tree,37.718150,-122.476387,2013
57253,192035,12380,Lophostemon confertus :: Brisbane Box,37.784236,-122.428680,2013

In [28]:
# Just 2017 and earlier
filteredYear2017 = filteredYear[filteredYear.Year <= 2017]
filteredYear2017

,Unnamed: 0,Tree ID,Species,Latitude,Longitude,Year
0,2,115737,Acer rubrum :: Red Maple,37.737752,-122.464496,2016
19,68,109770,Olea Majestic Beauty ::,37.732370,-122.393154,2015
30,130,108715,Pittosporum undulatum :: Victorian Box,37.741745,-122.429864,2016
68,304,115538,Crataegus laevigata :: English Hawthorn,37.777870,-122.418925,2016
69,305,115537,Crataegus laevigata :: English Hawthorn,37.777870,-122.418925,2016
...,...,...,...,...,...,...
57217,190755,258128,Melaleuca linariifolia :: Flaxleaf Paperbark,37.723377,-122.409566,2017
57229,190797,45244,Arbutus 'Marina' :: Hybrid Strawberry Tree,37.722902,-122.411826,2015
57230,190798,45243,Arbutus 'Marina' :: Hybrid Strawberry Tree,37.722902,-122.411826,2015
57231,191005,102569,Olea europaea :: Olive Tree,37.718150,-122.476387,2013
57253,192035,12380,Lophostemon confertus :: Brisbane Box,37.784236,-122.428680,2013

In [37]:
# Export to CSV
filteredYear2017.to_csv('Source CSVs/SF_Trees2013-2017.csv')
print("Export Complete")

Export Complete